[[source]]
url = "http://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
pyjwt = "*"
flask = "*"
apispec = "*"
apispec-webframeworks = "*"
marshmallow = "*"
webargs = "*"
flask-cors = "*"
mbrs-api = {editable = true, path = "."}

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.9"
