[[source]]
url = "http://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
pyjwt = "*"
flask = "*"
apispec = "*"
apispec-webframeworks = "*"
marshmallow = "*"
webargs = "*"
pytest = "*"
coverage = "*"
reservation-system = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
