[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
pyjwt = "*"
flasgger = "*"
flask = "==2.2.*"
flask-apispec = "*"

[dev-packages]

[requires]
python_version = "3.9"
